/*navbar */
.navbar {
	background-color: skyblue;
	border-radius: 20px;
}

.navbar-items {
list-style-type: none;
float:left;
margin-left:7px ;
margin-top:5px;
}

.nav-link {
padding: 3px 3px;
color:black;
text-decoration: none;
}

.nav-link:active{
	color:white !important;
}


/*Footer*/

.footer{
	background-color: skyblue;
	border-radius: 5px;
	border-radius: 20px;
}

.footer-items{
 list-style-type: none;
}

.footer-list{
	display:flex;
	justify-content: center;
	padding: 15px;
}

.footer-link{
	color:black;
	text-decoration: none;
	margin-left:20px;
}

/*login*/
.error{
	color:red;
	margin-left: 3px;
}

#login .container #login-row #login-column #login-box {
  margin:auto;
  margin-top:20px;
  margin-bottom:20px;
  max-width: 500px;
  height: 350px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: #EAEAEA;
  box-shadow: 14px 14px 5px 5px;
}

#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}

.form-group{
	margin-top:20px;
}

.signup-link{
	text-decoration: none;
	color:black;
}

.login-head{
	margin-top: 20px;
	text-align: center;
}

.text-info{
	font-weight: 700;
}



/*signup*/

#signup{
	border:2px solid black;
	width:700px;
	margin:auto;
	margin-top:20px;
	margin-bottom: 20px;
	border-radius:10px;
	padding:10px;
	background-color: #EAEAEA;
	box-shadow: 14px 14px 5px 5px;
}

.text-gender{
    opacity: 1;
    color: rgb(40 206 235);
    font-weight: 700;
}

.head-signup{
	text-align: center;
	margin-top: 20px;
}

/*dashboard*/
.main{
	text-align: center;
}

.dashboard-head{
	border:2px solid black;
	text-align: center;
	width:70vw;
	margin:auto;
	height:70vh;
	margin-top:30px;
	margin-bottom:30px;
	padding:50px;
}


/*applied jobs*/

.table{
	margin-bottom: 30px;	
}

.table-container{
	width:40vw;
	margin:auto;
}

/*profile*/

.profile-main{
	text-align: center;
	margin:auto;
	width:40vw;
}

#profile-head{
	text-align: center;
	margin-top: 20px;
}

.edit-form{
	border: 2px solid black;
	border-radius:10px;
	width:600px;
	padding: 20px;
	margin:auto;
	margin-top:20px;
	margin-bottom: 20px;
}


#edit-btn{
margin-left:75vw;
border-radius: 5px;
}

#edit-btn:hover{
 background-color: skyblue;
}

#edit-link{
	text-decoration: none;
	color:black;
}

/*job-search*/

.search{
	display: flex;
	justify-content: center;
	height:100px;
	align-items: center;
}  

.search-items{
	margin-left: 20px;
}

.search-container{
	width:50vw;
	margin:auto;
}

/*edit profile*/
