

.table{
	width:600px;
	margin:auto;
}
.job-form{
	border:2px solid black;
	width:500px;
	margin:auto;
	padding:20px;
	margin-bottom:20px;
	margin-top:20px;
	border-radius:10px;
}



#update-btn{
	text-align: center;
}
.btn-span{
	margin-left:10px;
	margin-bottom:20px;
}

#post-btn{
	text-align: center;
}