/*navbar */
.navbar {
	background-color: skyblue;
	border-radius: 20px;
}

.navbar-items {
list-style-type: none;
float:left;
margin-left:7px ;
margin-top:5px;
}

.nav-link {
padding: 3px 3px;
color:black;
text-decoration: none;
}

.nav-link:active{
	color:white !important;
}


/*Footer*/

.footer{
	background-color: skyblue;
	border-radius: 5px;
	border-radius: 20px;
}

.footer-items{
 list-style-type: none;
}

.footer-list{
	display:flex;
	justify-content: center;
	padding: 15px;
}

.footer-link{
	color:black;
	text-decoration: none;
	margin-left:20px;
}

/*login */
.portal-login{
  display: flex;
  flex-direction: column;
  width:80vw;
  margin:auto;
  border:2px solid black;
  height:70vh;
  text-align: center;
  margin-top: 20px;

}

.portal-signup{
  display: flex;
  flex-direction: column;
  width:80vw;
  margin:auto;
  border:2px solid black;
  height:70vh;
  text-align: center;
  margin-top: 20px;
}


.main-head{
	margin-top: 70px;
}

.main-items{
	border:2px solid black;
	width:50vw;
	margin: auto;
	height:40vh;
}

.login-emp{
display: inline-block;
 margin-top:50px;
 margin-right:100px;
 border:2px solid black;
}

.signup-emp{
display: inline-block;
margin-top:50px;
margin-right:100px;
border:2px solid black;
}

.login-cand{
display: inline-block;
margin-top:50px;
margin-left:100px;
border:2px solid black;
}

.signup-cand{
display: inline-block;
margin-top:50px;
margin-left:100px;
border:2px solid black;	
}

.main-link{
	text-decoration: none;
	color:black;
	font-weight: 800;
}

.emp-img{
	height: 222px;
    width: 238px;
}

.cand-img{
	height: 222px;
    width: 238px;
}